        location / {
            proxy_pass https://liaoxuefeng.com; #伪装网址1
            proxy_redirect off;
            proxy_ssl_server_name on;
            sub_filter_once off;
            sub_filter "liaoxuefeng.com" $server_name;
            proxy_set_header Host "liaoxuefeng.com";
            proxy_set_header Referer $http_referer;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header User-Agent $http_user_agent;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
            proxy_set_header Accept-Encoding "";
            proxy_set_header Accept-Language "zh-CN";
        }

        location / {
            proxy_pass https://www.xiaolincoding.com; #伪装网址2
            proxy_redirect off;
            proxy_ssl_server_name on;
            sub_filter_once off;
            sub_filter "xiaolincoding.com" $server_name;
            proxy_set_header Host "xiaolincoding.com";
            proxy_set_header Referer $http_referer;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header User-Agent $http_user_agent;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
            proxy_set_header Accept-Encoding "";
            proxy_set_header Accept-Language "zh-CN";
        }


vless
        location /530312af-dca6-41cf-8414-c1461007fd02{   #分流路径
            proxy_redirect off;
            proxy_pass http://127.0.0.1:25713; #Xray端口
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        
vmess
        location /62fb5140-fae5-4741-a3db-5ee73ddf69b7 {   #分流路径
            proxy_redirect off;
            proxy_pass http://127.0.0.1:25814; #Xray端口
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }





server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name osaka-jp.howiecode.xyz;

    ssl_certificate     /etc/nginx/ssl/cert.pem;     # fullchain（站点证书+中间证书）
    ssl_certificate_key /etc/nginx/ssl/key.pem;      # 私钥
    
    location / {
        proxy_pass https://www.xiaolincoding.com; #伪装网址2
        proxy_redirect off;
        proxy_ssl_server_name on;
        sub_filter_once off;
        sub_filter "xiaolincoding.com" $server_name;
        proxy_set_header Host "xiaolincoding.com";
        proxy_set_header Referer $http_referer;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header User-Agent $http_user_agent;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Accept-Language "zh-CN";
    }
    
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;
    ssl_session_tickets off;
    ssl_protocols    TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;


    location /ray {   #分流路径
        proxy_redirect off;
        proxy_pass http://127.0.0.1:25713; #Xray端口
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    
    location /xui {   #xui路径
        proxy_redirect off;
        proxy_pass http://127.0.0.1:25712;  #xui监听端口
        proxy_http_version 1.1;
        proxy_set_header Host $host;
    }
}

server {
  listen 80;
  listen [::]:80;
  server_name osaka-jp.howiecode.xyz;

  location ^~ /.well-known/acme-challenge/ {
    root /var/www/html;
    default_type "text/plain";
  }

  location / {
    return 301 https://$host$request_uri;
  }
}